# Intro: Python and Pandas

This notebook will provide you with a short introduction into the basic command in Python, and specifically the basic commands of the pandas packages which will help you investigate and prepare data for subsequent analyses. If you are new to Python and need more resources you can do a free online intro class through [DataCamp](https://www.datacamp.com/courses/intro-to-python-for-data-science). 

After todays class you will be able to read in data from flatfiles and execute basic data manipulations using Pandas.

## Table of Contents
1. [General Remarks](#General-Remarks)
    1. [Python Setup](#Python-Setup)
1. [Data Analysis in Pandas](#Data-Analysis-in-Pandas)
    1. [Loading Data](#Load-the-Data)
    1. [Displaying Data](#Displaying-Data)
    1. [Columns, rows, data selection](#Columns,-rows,-data-selection)
    1. [Subsetting Data](#Subsetting-Data)
    1. [Statistics](#Statistics)
    1. [Adding and Updating Data](#Adding-and-Updating-Data)
    1. [Grouping and Aggregating Data](#Grouping-and-Aggregating-Data)
    1. [Merging Dataframes](#Merging-Dataframes)
    1. [Saving a CSV](#Saving-a-CSV)

## General Remarks
---

Python: 
* Is a high-level interpreted general purpose programming language named after the Monty Python British comedy troupe
* Was created by Guido van Rossum, and is maintained by an open source community
* Is the fifth most popular programming language
* Is an object orientied language
* Is used mostly in data science because it is powerful and fast, and is compatible with other languages
* Runs everywhere, it's easy to learn, it's highly readable, open-source and its fast development time compared to other languages
* Comes with a growing and always-improving list of open-source libraries for scientific programming, data manipulation, and data analysis (e.g., Numpy, Scipy, Pandas, Scikit-Learn, Statsmodels, Matplotlib, Seaborn, PyTables, etc.)

IPython/Jupyter
* Is an enhanced, interactive python interpreter that started as a grad school project by Fernando Perez 
* Evolved into the IPython notebook, which allowed users to archive their code, figures, and analysis in a single document, making doing reproducible research and sharing said research much easier
* Other languages including but not limited to Julia, Python and R were included. This then led to a rebranding known as the Jupyter Project

### Python Setup

- In Python, we `import` packages. The `import` command allows us to use libraries created by others in our own work by "importing" them. You can think of importing a library as opening up a toolbox and pulling out a specific tool. 
- NumPy is short for numerical python. NumPy is a lynchpin in Python's scientific computing stack. Its strengths include a powerful *N*-dimensional array object, and a large suite of functions for doing numerical computing. 
- Pandas is a library in Python for data analysis that uses the DataFrame object from R which is similiar to a spreedsheet but allows you to do your analysis programaticaly rather than the point-and-click of Excel. It is a lynchpin of the PyData stack.  
- Matplotlib is the standard plotting library in python. 
`%matplotlib inline` is a so-called "magic" function of Jupyter that enables plots to be displayed inline with the code and text of a notebook.

#### This is how the start of a notebook might look like

In [1]:
# remember to put this line in your notebook, otherwise the visualization won't show up
%pylab inline
# import the packages
# numpy for array and matrix computation
import numpy as np

# pandas for data analysis
import pandas as pd

# matplotlib and seaborn are the data visualization packages
import matplotlib.pyplot as plt
import seaborn as sns

# configure pandas display: set the maximum number of columns displayed to 25
pd.options.display.max_columns = 25

Populating the interactive namespace from numpy and matplotlib

In practice we typically load libraries like `numpy` and `pandas` with shortened aliases, e.g, `import numpy as np`. This is like saying, "`import numpy`, and wherever you see `np`, read it as `numpy`." Similarly, you'll often see `import pandas as pd`, or `import matplotlib.pyplot as plt`. 

Another shortcut is `%pylab inline`. This command includes both `import numpy as np` and `import matplotlib.pyplot as plt `. This shortcut was invented because it's faster to type `plt.plot()` rather than `matplotlib.pyplot.plot()`, and even programmers don't like to type more than they have to. 

In documentation and in examples, you will frequently see `numpy` commands starting with the alias `np` rather than `numpy` (e.g, `np.array()` or `np.argsort`) and `pandas` commands starting with `pd` (e.g., `pd.DataFrame()` or `pd.concat()`).

In [2]:
# This is how you make comments
import pandas as pd

In object-oriented programming languages like Python, an object is an entity that contains data along with associated metadata and/or functionality. In Python everything is an object, which means every entity has some metadata (called attributes) and associated functionality (called methods). These attributes and methods are accessed via the dot syntax. Even the attributes and methods of objects are themselves objects with their own type information

In [3]:
# Python is an object based language, and these objects come with types
x = 1         # x is an integer
x = 'hello'   # x is a string
x = [1, 2, 3] # x is a list

You want to think of variables as pointers to objects, rather than of variables as buckets that contain data.

In [4]:
# And variables can point to the same objects
x = [1, 2, 3]
y = x
print(x)
print(y)

[1, 2, 3]
[1, 2, 3]

In [5]:
# When you manipulate one the other changes as well
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3, 4]

In [6]:
## How to do easy operations: Let's say we have a list of numbers and we want to separate them into two lists
# 1. set the halfway point: We generated a variable and assigned the value 8 to it
half = 4

# 2. generate the two lists (; allows us to generate this in one line)
lower = []; upper = []

# 3. split the numbers into lower and upper, and assign to list
## In Python whitespace is meaningful! block of code is a set of statements that should be treated as a unit and
## this is indicated by the indent. Indented code blocks are always preceded by a colon (:) on the previous line
## however: whitespace within lines does not matter
for i in range(8):
    if (i < half):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3]
upper: [4, 5, 6, 7]

In [7]:
# You can print anything you want
## syntax is different for python 2 and 3
print("My favorite nuymbers are", lower)

My favorite nuymbers are [0, 1, 2, 3]

In [8]:
# linebreaks (enclosing the statement in () works too)
x = 1 + 2 + 3 + 4 + \
    5 + 6 + 7 + 8
    
print(x)

36

## Data Analysis in Pandas

When we are working with Pandas we are thinking in terms of dataframes. It's a pandas representation of a spreadsheet/ sql table/Stata/R or SAS dataset. It contains information such as column names, row indices (starting from 0), and the actual data. They are the basic objects on which we will perform our data analysis.

### Loading Data

Before we can start analysing the data we have to load it into memory. We can read in different kind of data formats. The Pandas package provides many ways to load data. It allows the user to read the data from a local csv or excel file, or pull the data from a relational database. We use a function within the pandas packages that is called `pandas.read_csv` (https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.read_csv.html)

In [9]:
# Let's check where we are first and switch into the correct directory
%pwd
%cd ~
%cd "Yandex.Disk/BigDataPubPol/data/projects"
%ls

/home/jovyan
/home/jovyan/Yandex.Disk/BigDataPubPol/data/projects
FedRePORTER_PRJ_C_FY2010.csv  FedRePORTER_PRJ_C_FY2015.csv
FedRePORTER_PRJ_C_FY2012.csv  FedRePORTER_PRJ_C_FY2016.csv
FedRePORTER_PRJ_C_FY2013.csv  FedRePORTER_PRJ_C_FY2017.csv
FedRePORTER_PRJ_C_FY2014.csv  FedRePORTER_PRJ_C_FY2018.csv

In [10]:
df = pd.read_csv("FedRePORTER_PRJ_C_FY2010.csv", low_memory=False)

After the dataset is loaded how do we find out what is in the data?

### Displaying Data

In [ ]:
#### The shape and the columns of the dataframe
When we get the data, we not only want to know the column names but we also want to know how many rows and columns are in the data. We can find out the row and column numbers by calling the shape instance variable with a dot operator.

In [11]:
# shape of a dataframe (row number, column number)
df.shape
# We can see how many columns and rows are in the dataframe

(111400, 24)

In [12]:
# See the list of variables in data
df.count()

PROJECT_ID                     111400
 PROJECT_TERMS                 107556
 PROJECT_TITLE                 111400
 DEPARTMENT                    111400
 AGENCY                        111400
 IC_CENTER                      91075
 PROJECT_NUMBER                111400
 PROJECT_START_DATE            100172
 PROJECT_END_DATE              100099
 CONTACT_PI_PROJECT_LEADER     111398
 OTHER_PIS                      10477
 CONGRESSIONAL_DISTRICT        104072
 DUNS_NUMBER                   110161
 ORGANIZATION_NAME             111203
 ORGANIZATION_CITY             110853
 ORGANIZATION_STATE            109933
 ORGANIZATION_ZIP              106837
 ORGANIZATION_COUNTRY          110861
 BUDGET_START_DATE              86107
 BUDGET_END_DATE                86103
 CFDA_CODE                      94902
 FY                            111400
 FY_TOTAL_COST                  90694
 FY_TOTAL_COST_SUB_PROJECTS     18474
dtype: int64

In [13]:
# We can print the column names into a list
print(list(df.columns.values))

['PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE', ' DEPARTMENT', ' AGENCY', ' IC_CENTER', ' PROJECT_NUMBER', ' PROJECT_START_DATE', ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS', ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME', ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP', ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE', ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS']

In [14]:
# Or we can also save this list in an object in case we want to use it later
colnames = list(df.columns.values)
print(colnames)

['PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE', ' DEPARTMENT', ' AGENCY', ' IC_CENTER', ' PROJECT_NUMBER', ' PROJECT_START_DATE', ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS', ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME', ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP', ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE', ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS']

**Is there anything you notice here?**

In [15]:
df = (pd.read_csv('FedRePORTER_PRJ_C_FY2010.csv',
                  skipinitialspace=True,encoding='utf-8'))

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (12,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

If you have different file formats, such as .txt or .tsv (tab delimited) you can also use `pandas.read_csv` but you need to specify the delimiter option `delimiter='\t'`

**Data Types**

Python has different types that the data is stored in, depending on what information the attribute contains.

Pandas types | usage
---|---
object | text
int64 | integer numbers
float64 | floating point numbers
bool | true false values
datetime64 | date time values

In [16]:
# It is always good to know what type your variables are
df.dtypes

PROJECT_ID                      int64
PROJECT_TERMS                  object
PROJECT_TITLE                  object
DEPARTMENT                     object
AGENCY                         object
IC_CENTER                      object
PROJECT_NUMBER                 object
PROJECT_START_DATE             object
PROJECT_END_DATE               object
CONTACT_PI_PROJECT_LEADER      object
OTHER_PIS                      object
CONGRESSIONAL_DISTRICT        float64
DUNS_NUMBER                    object
ORGANIZATION_NAME              object
ORGANIZATION_CITY              object
ORGANIZATION_STATE             object
ORGANIZATION_ZIP               object
ORGANIZATION_COUNTRY           object
BUDGET_START_DATE              object
BUDGET_END_DATE                object
CFDA_CODE                      object
FY                              int64
FY_TOTAL_COST                 float64
FY_TOTAL_COST_SUB_PROJECTS    float64
dtype: object

In [17]:
# Change our date variable to the correct type
df['PROJECT_START_DATE'] = pd.to_datetime(df['PROJECT_START_DATE'])
df['PROJECT_END_DATE'] = pd.to_datetime(df['PROJECT_END_DATE'])
df['BUDGET_START_DATE'] = pd.to_datetime(df['BUDGET_START_DATE'])
df['BUDGET_END_DATE'] = pd.to_datetime(df['BUDGET_END_DATE'])

In [18]:
# You can also apply that function to specific variables in your data
# To break down long statements we encolse statement in ()
df[['PROJECT_START_DATE', 'PROJECT_END_DATE', 'BUDGET_START_DATE', 'BUDGET_START_DATE']] = (df[['PROJECT_START_DATE', 
    'PROJECT_END_DATE', 'BUDGET_START_DATE', 'BUDGET_START_DATE']].apply(pd.to_datetime))

There are other functions than `pandas.to_datetime` that you can use to change the types of variables such as `pandas.to_string` or `pandas.to_numeric`.

In [19]:
# Practice: Are all the other variable formatted correctly? Correct the type if not.

#### The head and tail of the dataframe
It is also helpful to have a look at the first or last few rows of the data for a first impression, as well as a sanity check. We can call the head()/tail() methods. We can also specify how many lines we would like to see in the parentheses at the end. We choose to display 10. If not specified, by default the first 5 lines will be returned

In [20]:
# Display the first few rows of the dataframe
df.head()

,PROJECT_ID,PROJECT_TERMS,PROJECT_TITLE,DEPARTMENT,AGENCY,IC_CENTER,PROJECT_NUMBER,PROJECT_START_DATE,PROJECT_END_DATE,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,CONGRESSIONAL_DISTRICT,DUNS_NUMBER,ORGANIZATION_NAME,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_ZIP,ORGANIZATION_COUNTRY,BUDGET_START_DATE,BUDGET_END_DATE,CFDA_CODE,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
0,121219,Alloys; Arizona; base; Research; Research Per...,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA,NASA,NaN,NNX10AV40G,2010-12-01,2013-11-30,"POIRER, DAVID",NaN,7.0,806345617,UNIVERSITY OF ARIZONA,TUCSON,AZ,85719-4824,UNITED STATES,NaT,NaT,43.AAA,2010,449452.0,NaN
1,121220,Funding; Industry; operation; Participant; Re...,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,NASA,NASA,NaN,NNC10ZA02A,2010-09-30,2011-09-29,"HEYWARD, ANN O",NaN,10.0,606582542,OHIO AEROSPACE INSTITUTE,BROOK PARK,OH,44142-1012,UNITED STATES,NaT,NaT,00.000,2010,112500.0,NaN
2,121221,Area; Astronomy; Award; Chicago; Collaboratio...,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF,NSF,NaN,0969820,2010-11-01,2013-10-31,"KALOGERA, VASSILIKI","LUIJTEN, ERIK",9.0,160079455,NORTHWESTERN UNIVERSITY,EVANSTON,IL,60208-1110,UNITED STATES,NaT,NaT,47.049,2010,546153.0,NaN
3,121222,anthropogenesis; Award; base; Betula Genus; C...,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,NSF,NSF,NaN,1003610,2010-10-01,2012-09-30,"GUILDERSON, THOMAS P",NaN,17.0,125084723,UNIVERSITY OF CALIFORNIA SANTA CRUZ,SANTA CRUZ,CA,95064-4107,UNITED STATES,NaT,NaT,47.050,2010,78594.0,NaN
4,121223,Academia; Address; Area; Award; California; C...,US-MEXICO WORKSHOP ON INTERACTIVE AND UBIQUITO...,NSF,NSF,NaN,1042937,2010-11-01,2011-10-31,"HAYES, GILLIAN","TENTORI, MONICA",48.0,046705849,UNIVERSITY OF CALIFORNIA IRVINE,IRVINE,CA,92697-7600,UNITED STATES,NaT,NaT,47.079,2010,16883.0,NaN

In [21]:
# last few rows of the dataframe
# the syntax is similar to head
df.tail(10)

,PROJECT_ID,PROJECT_TERMS,PROJECT_TITLE,DEPARTMENT,AGENCY,IC_CENTER,PROJECT_NUMBER,PROJECT_START_DATE,PROJECT_END_DATE,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,CONGRESSIONAL_DISTRICT,DUNS_NUMBER,ORGANIZATION_NAME,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_ZIP,ORGANIZATION_COUNTRY,BUDGET_START_DATE,BUDGET_END_DATE,CFDA_CODE,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
111390,915346,Characteristics; combat; Environment; Inciden...,INCIDENCE AND CHARACTERISTICS OF POST TRAUMATI...,DOD,DVBIC,NaN,DV76,2005-05-06,2012-03-01,"KENNEDY, JAN E",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111391,915354,Assessment tool; Health; operation; Predictiv...,WARRIOR ADMINISTERED RETROSPECTIVE CASUALTY A...,DOD,DVBIC,NaN,DV78,2008-03-01,2012-01-01,"TERRIO, HEIDI",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111392,915358,Assessment tool; base; Clinical; Diagnosis; h...,A PROVIDER VALIDATED TRAUMATIC BRAIN INJURY (T...,DOD,DVBIC,NaN,DV79,2009-02-23,2012-01-01,"TERRIO, HEIDI",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111393,915361,Behavioral Symptoms; Cognitive; combat; compa...,HYPERBARIC OXYGEN THERAPY FOR POST-CONCUSSIVE ...,DOD,DVBIC,NaN,DV80,2010-02-17,2013-01-01,"CIFU, DAVID",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111394,915365,Cognitive; Emotional; Learning; Measures; Mem...,CHARACTERIZATION OF THE NEUROPSYCHOLOGICAL AND...,DOD,DVBIC,NaN,DV81,2010-01-01,2012-01-01,"MCGLYNN, SUSAN",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111395,915368,Clinical; Demographic Factors; Employment Sta...,FACTORS PREDICTING EMPLOYMENT STATUS IN THE PO...,DOD,DVBIC,NaN,DV82,2010-01-01,2012-01-01,"YAN, KUN",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111396,915372,Automobile Driving; Characteristics; Diagnosi...,PREVALENCE OF DRIVING DIFFICULTIES IN RETURNIN...,DOD,DVBIC,NaN,DV83,2009-01-01,2011-01-01,"AMICK, MELISSA",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111397,915375,Affective; Biological; Center for Translation...,TRANSLATIONAL RESEARCH CENTER FOR TBI AND STRE...,DOD,DVBIC,NaN,DV84,2009-01-01,2014-01-01,"MCGLINCHEY, REGINA",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111398,915380,Attention; Blast Cell; executive function; mi...,FUNCTIONAL NEUROIMAGING OF ATTENTION AND EXECU...,DOD,DVBIC,NaN,DV85,2009-10-25,2013-01-01,"CHAO, WENDY",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN
111399,915386,Automobile Driving; Behavioral Symptoms; Cogn...,USING A SIMULATOR TO ENHANCE COGNITIVE RECOVER...,DOD,DVBIC,NaN,DV86,2007-10-01,2011-03-31,"AMICK, MELISSA",NaN,NaN,NaN,DEFENSE AND VETERANS BRAIN INJURY CENTER,SILVER SPRING,MD,20910,UNITED STATES,NaT,NaT,NaN,2010,NaN,NaN

In [22]:
# We can sort the values (by one or multiple variables)
(df[['PROJECT_ID', 'DEPARTMENT','ORGANIZATION_NAME','PROJECT_START_DATE', 
     'FY_TOTAL_COST']].tail().sort_values(['PROJECT_START_DATE','PROJECT_ID'], ascending=[True, True]))

,PROJECT_ID,DEPARTMENT,ORGANIZATION_NAME,PROJECT_START_DATE,FY_TOTAL_COST
111399,915386,DOD,DEFENSE AND VETERANS BRAIN INJURY CENTER,2007-10-01,NaN
111396,915372,DOD,DEFENSE AND VETERANS BRAIN INJURY CENTER,2009-01-01,NaN
111397,915375,DOD,DEFENSE AND VETERANS BRAIN INJURY CENTER,2009-01-01,NaN
111398,915380,DOD,DEFENSE AND VETERANS BRAIN INJURY CENTER,2009-10-25,NaN
111395,915368,DOD,DEFENSE AND VETERANS BRAIN INJURY CENTER,2010-01-01,NaN

### Columns, rows, data selection

#### Single column selection
If we want to select a specific column, we can use the following syntax:

In [23]:
# select a single column: the dataframe variable name, followed by square brackets, and then put the
# the column name between quotes (either single or double). 
df['AGENCY'].head()

0    NASA
1    NASA
2     NSF
3     NSF
4     NSF
Name: AGENCY, dtype: object

In [24]:
# the same would be
df.AGENCY.head()

0    NASA
1    NASA
2     NSF
3     NSF
4     NSF
Name: AGENCY, dtype: object

In [25]:
# It is more comfortable having column names in lowercase
df.columns = df.columns.str.lower()
df.head()

,project_id,project_terms,project_title,department,agency,ic_center,project_number,project_start_date,project_end_date,contact_pi_project_leader,other_pis,congressional_district,duns_number,organization_name,organization_city,organization_state,organization_zip,organization_country,budget_start_date,budget_end_date,cfda_code,fy,fy_total_cost,fy_total_cost_sub_projects
0,121219,Alloys; Arizona; base; Research; Research Per...,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA,NASA,NaN,NNX10AV40G,2010-12-01,2013-11-30,"POIRER, DAVID",NaN,7.0,806345617,UNIVERSITY OF ARIZONA,TUCSON,AZ,85719-4824,UNITED STATES,NaT,NaT,43.AAA,2010,449452.0,NaN
1,121220,Funding; Industry; operation; Participant; Re...,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,NASA,NASA,NaN,NNC10ZA02A,2010-09-30,2011-09-29,"HEYWARD, ANN O",NaN,10.0,606582542,OHIO AEROSPACE INSTITUTE,BROOK PARK,OH,44142-1012,UNITED STATES,NaT,NaT,00.000,2010,112500.0,NaN
2,121221,Area; Astronomy; Award; Chicago; Collaboratio...,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF,NSF,NaN,0969820,2010-11-01,2013-10-31,"KALOGERA, VASSILIKI","LUIJTEN, ERIK",9.0,160079455,NORTHWESTERN UNIVERSITY,EVANSTON,IL,60208-1110,UNITED STATES,NaT,NaT,47.049,2010,546153.0,NaN
3,121222,anthropogenesis; Award; base; Betula Genus; C...,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,NSF,NSF,NaN,1003610,2010-10-01,2012-09-30,"GUILDERSON, THOMAS P",NaN,17.0,125084723,UNIVERSITY OF CALIFORNIA SANTA CRUZ,SANTA CRUZ,CA,95064-4107,UNITED STATES,NaT,NaT,47.050,2010,78594.0,NaN
4,121223,Academia; Address; Area; Award; California; C...,US-MEXICO WORKSHOP ON INTERACTIVE AND UBIQUITO...,NSF,NSF,NaN,1042937,2010-11-01,2011-10-31,"HAYES, GILLIAN","TENTORI, MONICA",48.0,046705849,UNIVERSITY OF CALIFORNIA IRVINE,IRVINE,CA,92697-7600,UNITED STATES,NaT,NaT,47.079,2010,16883.0,NaN

In [26]:
# When you want to check the values of a variable
df.agency.value_counts()

NIH        85791
NSF        13632
ALLCDC      4521
NIFA        3325
NASA        1903
CDMRP        782
AHRQ         547
EPA          343
FDA          208
ARS          206
NIDILRR       71
DVBIC         50
CNRM          12
VA             8
CCCRP          1
Name: agency, dtype: int64

#### Multiple-column selection
to select multiple columns, wrap the column names in a python list, then put the list or tuple between the brackets after the dataframe

In [27]:
# here we selected the columns and assigned them to a new dataframe example2
df2 = (df[['agency', 'project_title', 'fy_total_cost',
                           'project_start_date','project_end_date']])
df2.head()

,agency,project_title,fy_total_cost,project_start_date,project_end_date
0,NASA,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,449452.0,2010-12-01,2013-11-30
1,NASA,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,112500.0,2010-09-30,2011-09-29
2,NSF,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,546153.0,2010-11-01,2013-10-31
3,NSF,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,78594.0,2010-10-01,2012-09-30
4,NSF,US-MEXICO WORKSHOP ON INTERACTIVE AND UBIQUITO...,16883.0,2010-11-01,2011-10-31

#### single/ multiple cell(s) selection
Use the `loc` method for cell selection. Pass the row and column indices in the _square brackets_ after `loc`. Specify the row index first, and then column name, separated by a comma. Note that both indices will be included.

In [28]:
# single cell selection
# select the cell in row 3 and column project_start_date
cell = df2.loc[3, 'project_start_date']
cell

Timestamp('2010-10-01 00:00:00')

In [29]:
# multiple cells selection
# option 1: use a python list to explicitly list the rows/columns
cell = df2.loc[[0, 2, 4], 'project_start_date']
cell

0   2010-12-01
2   2010-11-01
4   2010-11-01
Name: project_start_date, dtype: datetime64[ns]

In [30]:
# option 2: use colon to indicate contiguous selection
cell = df2.loc[0:4, 'project_start_date']
cell

0   2010-12-01
1   2010-09-30
2   2010-11-01
3   2010-10-01
4   2010-11-01
Name: project_start_date, dtype: datetime64[ns]

In [31]:
# if we want to select all columns from row 5, we can use a colon symbol :.
row5 = df2.loc[5, :]
row5

agency                                                              NSF
project_title         CAREER: COLLABORATIVE COMMUNICATION AND STORAG...
fy_total_cost                                                    162314
project_start_date                                  2010-08-23 00:00:00
project_end_date                                    2012-05-31 00:00:00
Name: 5, dtype: object

### Subsetting Data
#### Subsetting numerical data
Similar to the `where` statement in sql, we can also select only data that meet certain condition. Depending on whether the data is numberical or string, we should choose to use different syntax for each situation. For example, if we would like to select columns that start from year 2015, we can use a larger than or equal to operator condition to subset.

In [32]:
# conditional subsetting: put the conditional statement within the square brackets 
# the conditional statement here is that we want the cost to be higher than or equal to 50.0000.
df3 = df2[df2['fy_total_cost'] >= 50000]
df3.head()

,agency,project_title,fy_total_cost,project_start_date,project_end_date
0,NASA,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,449452.0,2010-12-01,2013-11-30
1,NASA,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,112500.0,2010-09-30,2011-09-29
2,NSF,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,546153.0,2010-11-01,2013-10-31
3,NSF,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,78594.0,2010-10-01,2012-09-30
5,NSF,CAREER: COLLABORATIVE COMMUNICATION AND STORAG...,162314.0,2010-08-23,2012-05-31

#### Subsetting string/categorical data
When the column contains string data or categorical data, the comparison operators might not be the choice for data selection. Instead, we can compare each data in a column to a target list to see if the data in column is included in the list. This is done by calling the `isin` method.

In [33]:
# select specific agencies
# we specify the target list within the parentheses of the `isin` method
df4 = df2[df2['agency'].isin(['NIH', 'NSF'])]
df4.head()

,agency,project_title,fy_total_cost,project_start_date,project_end_date
2,NSF,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,546153.0,2010-11-01,2013-10-31
3,NSF,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,78594.0,2010-10-01,2012-09-30
4,NSF,US-MEXICO WORKSHOP ON INTERACTIVE AND UBIQUITO...,16883.0,2010-11-01,2011-10-31
5,NSF,CAREER: COLLABORATIVE COMMUNICATION AND STORAG...,162314.0,2010-08-23,2012-05-31
6,NSF,SHF:SM: A TIME-PREDICTABLE MULTICORE/MANYCORE ...,272164.0,2010-07-16,2012-07-31

In [34]:
# Let's check
df4.agency.value_counts()

NIH    85791
NSF    13632
Name: agency, dtype: int64

#### Subsetting with multiple conditions
If we want to subset the data with more than one condition, we can specify all the conditions and concatenate them with the python keyword `&`. Remember to put every single condition within a pair of parentheses.

In [35]:
# combine both selections from above
df5 = df2[(df2['fy_total_cost'] >= 1000000) & (df2['agency'].isin(['NIH', 'NSF']))]
df5.head()

,agency,project_title,fy_total_cost,project_start_date,project_end_date
7,NSF,"COLLABORATIVE RESEARCH: EFFECTS OF LAND-USE, P...",1151411.0,2010-10-01,2013-09-30
9,NSF,PHASE 4 PROPOSAL: MANAGEMENT OF THE POST DELIV...,11178098.0,2013-01-01,2014-04-30
28,NSF,EXPANDING USE OF THE CAT: ASSESSING AND IMPROV...,1836144.0,2010-10-01,2013-09-30
35,NSF,COLLABORATIVE RESEARCH: CYBERINFRASTRUCTURE-EN...,2697799.0,2010-10-01,2013-09-30
38,NSF,RESEARCH AND EDUCATION CYBERINFRASTRUCTURE INV...,1749000.0,2010-10-01,2013-09-30

In [36]:
# Let's check again
df5.agency.value_counts()

NIH    4957
NSF     657
Name: agency, dtype: int64

### Statistics
#### Descriptive stats
Pandas has integrated some very useful tools to help us understand the distribution of the data. The `describe` method computes the most commonly used descriptive statistics, such as count, mean, standard deviation and quantiles for a dataframe.

In [37]:
# see the descriptive statistics of the variables
df.describe()

,project_id,congressional_district,fy,fy_total_cost,fy_total_cost_sub_projects
count,111400.000000,104072.000000,111400.0,9.069400e+04,1.847400e+04
mean,354577.758232,11.357647,2010.0,5.091656e+05,2.301802e+05
std,138390.392104,14.709129,0.0,1.792130e+06,4.395468e+05
min,121219.000000,0.000000,2010.0,1.000000e+00,1.000000e+00
25%,295266.750000,3.000000,2010.0,1.477842e+05,3.342400e+04
50%,337986.500000,7.000000,2010.0,3.000000e+05,1.490290e+05
75%,416683.750000,13.000000,2010.0,4.440865e+05,2.940112e+05
max,915386.000000,99.000000,2010.0,2.423459e+08,1.827755e+07

#### Value counts and unique values
For categorical values, it is often helpful to figure out what are the unique values of a given column, and the quantity of each data. Let's go back to the welfare data

In [38]:
# find out how many different agencies are there in the data
df['agency'].unique()

array(['NASA', 'NSF', 'EPA', 'NIH', 'CNRM', 'AHRQ', 'FDA', 'CDMRP', 'VA',
       'ALLCDC', 'NIFA', 'ARS', 'NIDILRR', 'CCCRP', 'DVBIC'], dtype=object)

In [39]:
# to count how many observations for each agency appeared in the data
df['agency'].value_counts()

NIH        85791
NSF        13632
ALLCDC      4521
NIFA        3325
NASA        1903
CDMRP        782
AHRQ         547
EPA          343
FDA          208
ARS          206
NIDILRR       71
DVBIC         50
CNRM          12
VA             8
CCCRP          1
Name: agency, dtype: int64

In [40]:
# We can combine the the value counts and unique statements
len(df['agency'].unique())

15

### Adding and Updating Data
#### Creating columns
We sometimes need to creat a new column, either to save the previously calculation from other columns, or add new information to the dataframe. The syntax is given below:
`dataframe['column_name'] = value`
where:
dataframe is the dataframe in which the new column is created,
column_name is the string of the new column name, 
value is the value of the each cell.

In [41]:
# we can then calculate the monthly cost by dividing the project costs column by 12, 
# and assign this newly computed column to the monthly column
df5['monthly'] = df5['fy_total_cost']/12
df5.head().round(1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,agency,project_title,fy_total_cost,project_start_date,project_end_date,monthly
7,NSF,"COLLABORATIVE RESEARCH: EFFECTS OF LAND-USE, P...",1151411.0,2010-10-01,2013-09-30,95950.9
9,NSF,PHASE 4 PROPOSAL: MANAGEMENT OF THE POST DELIV...,11178098.0,2013-01-01,2014-04-30,931508.2
28,NSF,EXPANDING USE OF THE CAT: ASSESSING AND IMPROV...,1836144.0,2010-10-01,2013-09-30,153012.0
35,NSF,COLLABORATIVE RESEARCH: CYBERINFRASTRUCTURE-EN...,2697799.0,2010-10-01,2013-09-30,224816.6
38,NSF,RESEARCH AND EDUCATION CYBERINFRASTRUCTURE INV...,1749000.0,2010-10-01,2013-09-30,145750.0

### Grouping and Aggregating Data
#### Group by and aggregation functions
It is possible to group the dataframe by a column, and use aggregation function on them, and sort the result

In [42]:
# calculate the how many grants each agency funded
# step1: in the groupby method, we pass the column we want to group by, we can also select what columns
# we want to carry out the operation
# step2: use the count method to count the number of cases
# step3: sort the value in descending order (set the ascending parameter to False)
df_group = df.groupby('agency')['project_id'].count().sort_values(ascending=False)
df_group.head()

agency
NIH       85791
NSF       13632
ALLCDC     4521
NIFA       3325
NASA       1903
Name: project_id, dtype: int64

Other useful aggregation functions are:
`sum()`: sum, 
`mean()`: average, 
`agg()`: use a python dictionary to specify aggregation function based on each column

In [43]:
# Note that the aggregation function didn't return a dataframe. So we have to convert it into a dataframe if we wnat 
# to process it further
df_group = df_group.to_frame().reset_index()
df_group.head()

   agency  project_id
0     NIH       85791
1     NSF       13632
2  ALLCDC        4521
3    NIFA        3325
4    NASA        1903

In [44]:
# Let's correct the columns names, this shouldn't be project_id but sum of all funded projects
df_group.rename(columns={'project_id':'number of funded projects'}, inplace=True)
df_group.head()

   agency  number of funded projects
0     NIH                      85791
1     NSF                      13632
2  ALLCDC                       4521
3    NIFA                       3325
4    NASA                       1903

### Merging Dataframes
Pandas provides an ability to merge (join) two datasets together. You can store the results in a new dataframe. There are different ways of mergeing data: left, right, outer, inner (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [45]:
merge_df = pd.merge(df5, df_group, on=["agency"], how="inner")
merge_df.head()

,agency,project_title,fy_total_cost,project_start_date,project_end_date,monthly,number of funded projects
0,NSF,"COLLABORATIVE RESEARCH: EFFECTS OF LAND-USE, P...",1151411.0,2010-10-01,2013-09-30,95950.916667,13632
1,NSF,PHASE 4 PROPOSAL: MANAGEMENT OF THE POST DELIV...,11178098.0,2013-01-01,2014-04-30,931508.166667,13632
2,NSF,EXPANDING USE OF THE CAT: ASSESSING AND IMPROV...,1836144.0,2010-10-01,2013-09-30,153012.000000,13632
3,NSF,COLLABORATIVE RESEARCH: CYBERINFRASTRUCTURE-EN...,2697799.0,2010-10-01,2013-09-30,224816.583333,13632
4,NSF,RESEARCH AND EDUCATION CYBERINFRASTRUCTURE INV...,1749000.0,2010-10-01,2013-09-30,145750.000000,13632

In [46]:
merge_df.shape

(5614, 7)

### Saving a CSV
You can save a copy of your dataframe as a .csv file.

In [47]:
merge_df.to_csv("~/Yandex.Disk/example_data.csv", encoding='utf8')

In [48]:
%cd ~
%pwd

/home/jovyan

'/home/jovyan'